

#scrollBar::-webkit-scrollbar {
    width: 2px;
}
 
#scrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#scrollBar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Product Navigation */

.product-cat{
    background-color: #f2f2f2;
    width: 100%;
    left: 0;
    position: fixed;
    display: none;
    top:70px;
    z-index: 999;
    padding: 40px;
    overflow-y: scroll;
    max-height: 430px;
}

 .product-list{
    list-style: none;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;   
        
}

 .product-list li  {
    width: 25%;   
    margin: 5px 0;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.product-list li a{
    font-size:1rem; 
    color: #000;
}

 .product-list a:hover {
    color: #7940be;
}


@media screen and (max-width:600px){
    .product-list li {
        min-width: 155px;
        margin: 7px 0;

        overflow-y: scroll;
        overflow-x: hidden;
    }
}


/* Product Section */
.products{
    background-color:#ffffff !important;
    padding: 180px 0 100px 0;
}

.products .row {
    margin-bottom: 180px;
}

.products .row:last-child {
    margin-bottom: 0;
}

.products .product-details{
    padding-left: 20px !important;
}



.products .table th{
    font-weight: normal !important;
    vertical-align: middle !important;
}

.products  .table-bordered {
    background-color: #f2f2f2;
}

.products  .table-bordered th,
.products  .table-bordered tr,
.products  .table-bordered td {
    border: 2px solid #ffffff;
    vertical-align: middle !important;

}


.products  .table-bordered td h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.products  .table-bordered td .btn-secondary {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius:100% !important; 
}

.products .specs {
    margin-top: 100px;
}

.products .specs p{
    margin-top: 20px;
}

.products .specs h2 {
    font-size: 1.5rem;
    background-color: #f2f2f2;
    padding: 10px 10px;
}


.features19 h2{
    font-size: 1.5rem;
    background-color: #f2f2f2;
    padding: 10px 10px;
}


.mbr-footer-list a{
    color: #cccccc;
    font-weight: 100;
}