/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
  #slider3-pager a {
  display: inline-block;
}



/**/
/* Banner Style */
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }
  .callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.4;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -45px;
  }
  
.callbacks_nav:hover,
.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
  

/*.callbacks .caption{
	background: #000;
	background: rgba(0,0,0,0.68);
	width: 450px;
	height: 250px;
	padding: 10px 40px 10px 40px;
	margin-top: 48px;
	margin-right: 58px;
	margin-left: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
  	z-index: 2;
	right:0;
}*/
.callbacks .caption p{
	font: 18px/21px 'Open Sans', Helvetica, sans-serif;
	color: #fff;
}

/* Bullete CSS ******/
ul.rslides_tabs { position:absolute; list-style:none; left:32%}
ul.rslides_tabs li { margin:0; float:left; }

ul.rslides_tabs li a {background: url(../images/bullet.png) left top; width:22px;
	height:20px; float:left;
	position:relative;
	margin-left:0;
	color:transparent;
	text-indent: -1000px; }
ul.rslides_tabs li.rslides_here a{background-position: 0 100%;}


@media only screen and (max-width: 480px) {
	.callbacks .caption{ display:none;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.callbacks .caption p{ font: 14px/18px 'Open Sans', Helvetica, sans-serif;}
}

